*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fafafa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    position: relative;
    height: 100vh;
}
.conteudo{
    position: absolute;
    display: flex;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide{
    position: relative;
    width: 250px;
    height: 541px;
}
.slide > img{
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0;
}
.slide > img.selected{
    opacity: 1;
}

.menu{
    background-color: #FFFFFF;
    border: 1px solid rgb(194, 193, 193);
    margin-left: 35px;
    padding: 45px;
    width: 250px;
    height: 280px;
    text-align: center;
}
.area-acesso{
    margin-top: 25px;
}
.area-acesso > #usuario, #senha{
    width: 260px;
    height: 30px;
    padding: 3px;
    margin-bottom: 8px;
    font-size: 12px;
    background-color: #fafafa;
    border-radius: 3px;
    border: 1px solid rgb(194, 193, 193);
}
input.botao{
    background-color: #b2dffc;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 8px;
    width: 265px;
    height: 30px;
    border-radius: 4px;
    border: none;
}

.menu > p{
    font-weight: bold;
    font-size: 0.8em;
    color: rgb(175, 174, 174);

    margin-top: 10px;
}

.area-acesso2{
    margin-top: 15px;
}
.area-acesso2 > a{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.with-facebook{
    font-weight: bold;
    color: #385195;
    text-decoration: none;
}
.forgot-password{
    font-size: 0.7em;
    color: #5270b8;
    text-decoration: none;
}
.sign-up{
    border: 1px solid rgb(194, 193, 193);
    margin-left: 35px;
    margin-top: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.sign-up > p > a{
    color: #31b8fa;
    font-weight: 500;
    text-decoration: none;
}

.get-app{
    margin-left: 35px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.get-app-img{
    margin-top: 20px;
}



